<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Meal Planner", :root, class: "navbar-brand" %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Foods", foods_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Meals", meals_path, class: "nav-link" %>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="createLink" role="button" data-toggle="dropdown" aria-expanded="false">
                  Create
                </a>
                <ul class="dropdown-menu" aria-labelledby="createLink">
                  <li><%= link_to "Food", new_food_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Meal", new_meal_path, class: "dropdown-item" %></li>
                  <li><a class="dropdown-item" href="#">Plan</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
